.spasiSatu {
  line-height: 15px;
  text-align: justify;
}
.spasiDua {
  line-height: 20px;
}

#warnaSatu {
  color: rgb(42, 67, 165);
}

section h3 {
  background-color: aquamarine;
}

section p {
  background-color: rgb(171, 255, 227);
}

article > ul {
  background-color: rgba(136, 136, 136, 0.493);
}

/* perhatikan 'input dan []' harus nempel supaya berhasil */

section table tbody tr td input[type="email"] {
  color: red;
}

section table tbody tr td span {
  font-weight: bold;
  font-size: larger;
}

section button:hover {
  cursor: pointer;
  border-color: rgb(232, 62, 90);
}

section table tbody tr td span::after {
  content: "*";
}

section table tbody tr td span::before {
  content: "#";
}

.border1 {
  border: 0.1em solid;
  padding: 2%;
  margin: 2em;
  border-style: dotted;
  border-bottom-width: 0.2em;
}

#border2 {
  border-style: dotted dashed solid double;
  margin: 2em;
  padding: 2%;
}

#container {
  background-color: rgb(54, 54, 120);
  width: 50%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.kotak1 {
  width: 70px;
  height: 70px;
  background-color: rgb(126, 126, 239);
}

div:nth-child(1) {
  align-self: flex-start;
}

div:nth-child(2) {
  align-self: flex-start;
  flex-basis: 100px;
}

.kotak2 {
  width: 70px;
  height: 70px;
  background-color: rgb(92, 92, 244);
}

div:nth-child(3) {
  align-self: flex-end;
}

.kotak3 {
  width: 70px;
  height: 70px;
  background-color: rgb(61, 61, 244);
}

.kotak4 {
  width: 70px;
  height: 70px;
  background-color: rgb(27, 27, 244);
}

.kotak5 {
  width: 70px;
  height: 70px;
  background-color: rgb(4, 4, 202);
}

div:nth-child(5) {
  align-self: flex-start;
}

.container2 {
  background-color: rgb(63, 32, 3);
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.kotak8 {
  width: 30px;
  height: 30px;
  background-color: rgb(117, 104, 32);
  flex-grow: 2;
}

section div[class="kotak8"]:nth-child(3) {
  align-self: flex-start;
}

.kotak9 {
  width: 30px;
  height: 30px;
  background-color: rgb(90, 64, 13);
}

section div[class="kotak9"]:nth-child(2) {
  align-self: flex-end;
}

.kotak10 {
  width: 30px;
  height: 30px;
  background-color: rgb(137, 83, 49);
  flex-shrink: 2;
}

.teksBesar {
  font-size: 500%;
  font-family: "poppins";
}

@media (max-width: 768px) {
  p[class="teksBesar"] {
    font-size: 4em;
  }
  nav ul {
    flex-direction: row;
    font-size: 4em;
  }
}
@media (max-width: 397px) {
  p[class="teksBesar"] {
    font-size: 2em;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li a {
    font-size: 75%;
  }
}

nav ul {
  font-size: 1.5em;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

nav ul li a {
  text-decoration: none;
  font-family: "poppins";
}
